
<div class="w-11 h-11 bg-white rounded-md shadow-md p-4 flex items-start justify-between
            flex-col">
    <img src="imgComia.jpg" alt="comida" class="w-9 h-9 object-contain rounded-md mb-2">
    <h3 class="text-lg font-bold">comida</h3>
    <p class="text-gray-600 mb-2">Precio: $<span class="price">$123</span></p>
    <div class="flex items-center space-x-2 mb-2 mt-2">
        <button class="decrement bg-gray-200 px-2 py-1 rounded">-</button>
        <span class="quantity">1</span>
        <button class="increment bg-gray-200 px-2 py-1 rounded">+</button>
        <button class="add-to-cart bg-blue-500 text-black px-4 py-2 rounded">Anadir al carrito</button>
    </div>
</div>