---
import {SignIn,SignOut} from "auth-astro/components";
import {getSession} from "auth-astro/server";
import Layout from "../layouts/Layout.astro";

const session = await getSession(Astro.request);

---



<Layout title="Inicia sesion">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div
        class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10 mt-24">
        <div class="max-w-md mx-auto text-white">
        <div class="mt-5 grid grid-cols-1 sm:grid-cols-2 gap-5">
            <div>
            <label
                class="font-semibold text-sm text-gray-400 pb-1 block"
                for="fullname"
                >Full Name</label
            >
            <input
                class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full bg-gray-100 text-black"
                type="text"
                id="fullname"
            />
            </div>
            <div>
            <label
                class="font-semibold text-sm text-gray-400 pb-1 block"
                for="email"
                >Email</label
            >
            <input
                class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full bg-gray-100 text-black"
                type="email"
                id="email"
            />
            </div>
            <div>
            <label
                class="font-semibold text-sm text-gray-400 pb-1 block"
                for="username"
                >Username</label
            >
            <input
                class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full bg-gray-100 text-black "
                type="text"
                id="username"
            />
            </div>
            <div>
            <label
                class="font-semibold text-sm text-gray-400 pb-1 block"
                for="password"
                >Password</label
            >
            <input
                class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full bg-gray-100 text-black "
                type="password"
                id="password"
            />
            </div>
        </div>
        </div>
        <div class="flex justify-center items-center">
            <div>
                {
                session ?(
                    <>
                    <SignOut  class="w-auto h-auto p-2 bg-gray-200 rounded-md transition-all hover:scale-110"><i class="ri-logout-box-line flex gap-3">Cerrar sesion</i></SignOut>
                </>
                ) : (
                <>
                <SignIn provider="google" class="flex items-center justify-center py-2 px-20 transition-colors bg-white hover:bg-gray-100 shadow-md">
                    <img src="googleIcon.svg" alt="">
                    <span class="ml-2">Inciar sesion con google</span>
                </SignIn>
                </>
                )
            }
            
            </div>
        </div>
        <div class="mt-5">
            <button
            class="py-2 px-4 bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
            type="submit"
            >
            Sign up
            </button>
        </div>
        <div class="flex items-center justify-between mt-4">
            <span class="w-1/5 border-b dark:border-gray-600 md:w-1/4"></span>
            <a
            class="text-xs text-gray-500 uppercase dark:text-gray-400 hover:underline"
            href="#"
            >have an account? Log in</a
            >
            <span class="w-1/5 border-b dark:border-gray-600 md:w-1/4"></span>
        </div>
        </div>
    </div>
    </div>

</Layout>