---
import Carrusel from "../components/carrusel.astro";
---

<main class="w-auto md:w-[67%] ml-[20%] lg:ml-[5%] flex justify-center z-10 p-3 flex-col ">
  <section class="w-full h-auto rounded-md mt-20">
    <Carrusel />
  </section>
  <section class="w-full h-full mt-10 grid grid-cols-1 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-4 bg-slate-300" id="CONTENEDOR">
    
  </section>
</main>

<!-- Incluye tu script -->
<script src="/utils/api.js" defer></script>
