---
import BtnNavRight from "../components/BtnNavRight.astro";
---

<aside
  class="SLIDEBAR fixed top-[164px] md:top-[80px] bottom-0 right-0 p-2 w-[20%] lg:w-[27%] text-center bg-white shadow-xl
  justify-between z-10 hidden lg:block overflow-y-auto"
>
  <section class="w-full h-auto p-3 flex items-center justify-between">
    <div>
      <BtnNavRight icono="ri-add-line" text="Añadir cliente" />
    </div>
    <div class="flex flex-row gap-2">
      <BtnNavRight icono="ri-table-line" />
      <BtnNavRight icono="ri-restart-line" />
    </div>
  </section>
  <hr class="border-1 bg-slate-400" />

  <!-- Contenedor del carrito -->
  <section id="CARRITO" class="mt-4">
    <h2 class="text-lg font-bold">Carrito de Compras</h2>
    <div id="cartItems" class="mt-4 space-y-2">
      <!-- Los productos añadidos se renderizarán aquí -->
    </div>
  </section>

  <section class="w-full h-auto  bg-white">
    <div
      id="cartTotal"
      class="w-full h-auto p-4 flex flex-row items-start justify-between text-xl font-bold bg-slate-100 rounded-md"
    >
      Total: <span>$0.00</span>
    </div>
    <div class="w-full h-auto mt-4 flex flex-row items-center justify-around gap-5">
      <a 
      href="#" 
      class="w-full  h-auto p-1 border-[1px] border-gray-200 rounded-md flex flex-col items-center gap-3
      transition hover:scale-105 text-gray-400 hover:border-[#FC8019]"
      >
      <img src="money.svg" alt="Icono dinero" width="40px" height="40px">Efectivo</a
      >
      <a 
      href="#" 
      class="w-full h-auto p-1 border-[1px] border-gray-200 rounded-md flex flex-col items-center gap-3
      transition hover:scale-105 text-gray-400 hover:border-[#FC8019]"
      >
      <img src="paypal.svg" alt="Icono dinero" width="40px" height="40px">PayPal</a
      >
      <a 
      href="#" 
      class="w-full h-auto p-1 border-[1px] border-gray-200 rounded-md flex flex-col items-center gap-3
      transition hover:scale-105 text-gray-400 hover:border-[#FC8019]"
      >
      <img src="qr.svg" alt="Icono dinero" width="40px" height="40px">Qr</a
      >
    </div>
  </section>
</aside>

<!-- Botón para vistas móviles y tablets -->
<button
  id="toggleButton"
  class="fixed bottom-4 right-4 p-4 bg-[#FC8019] text-white rounded-full lg:hidden z-20"
>
  <i class="ri-menu-line"></i>
</button>

<!-- Menú escondido para móviles y tablets -->
<aside
  id="mobileMenu"
  class="fixed bottom-0 right-0 p-2 w-[80%] h-[70%] bg-white shadow-xl z-10 hidden lg:hidden"
>
  <section class="w-full h-auto p-3 flex items-center justify-between">
    <div>
      <BtnNavRight icono="ri-add-line" text="Añadir cliente" />
    </div>
    <div class="flex flex-row gap-2">
      <BtnNavRight icono="ri-table-line" />
      <BtnNavRight icono="ri-restart-line" />
    </div>
  </section>
  <hr class="border-1 bg-slate-400" />
  <section>
    <!-- Contenedor del carrito en móvil -->
    <div id="CARRITO_MOBILE" class="mt-10">
      <h2 class="text-lg font-bold">Carrito de Compras</h2>
      <div id="cartItemsMobile" class="mt-4 space-y-2"></div>
      <div id="cartTotalMobile" class="mt-4 text-right font-bold text-lg">
        Total: $0.00
      </div>
    </div>
  </section>
</aside>

<script type="text/javascript">
  document.getElementById("toggleButton").addEventListener("click", () => {
    const mobileMenu = document.getElementById("mobileMenu");
    mobileMenu.classList.toggle("hidden");
  });
</script>

<script src="/public/utils/ComidaNavBar.js" defer></script>
