---
import BtnNav from "../components/BtnNav.astro";
---

<aside
class="SLIDEBAR fixed top-[164px] md:top-[80px] bottom-0 p-2 w-[20%] lg:w-[5%]
text-center bg-white shadow-xl  justify-between z-10 "
>
    <div>
        <BtnNav iconClass="ri-home-line" Texto="Menu" />
        <BtnNav iconClass="ri-user-line" Texto="Cliente" />
        <BtnNav iconClass="ri-table-line" Texto="Mesas" />
        <BtnNav iconClass="ri-cash-line" Texto="Pagos" />
        <BtnNav iconClass="ri-briefcase-line" Texto="Ordenes" />
        <BtnNav iconClass="ri-file-chart-line" Texto="Reportes" />
        <BtnNav iconClass="ri-settings-line" Texto="Ajustes" />
    </div>

</aside>



